In [145]:
import pandas as pd
import numpy as np 
import tensorflow as tf
from tensorflow.keras.utils import to_categorical
from sklearn.preprocessing import normalize as normalizer
from sklearn.model_selection import train_test_split

In [146]:
df = pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [147]:
filtered_df = df.drop(labels=['RowNumber','CustomerId','Surname'],axis=1,inplace=True)

In [148]:
y=df['Exited']
X=df.drop(labels='Exited',axis=1)

In [149]:
encoded_y=y.to_numpy().astype('float64')

In [150]:
encoded_Georaphy=pd.get_dummies(X['Geography'])

In [151]:
encoded_Gender=pd.get_dummies(X['Gender'])

In [152]:
X.drop(labels=['Geography','Gender'],axis=1,inplace=True)

In [153]:
frames = [X,encoded_Georaphy,encoded_Gender]

In [154]:
engg_datgaframe=pd.concat(frames,sort=False,axis=1)

In [155]:
numpy_array=engg_datgaframe.to_numpy()

In [156]:
normalized_dataset=normalizer(numpy_array,axis=1)

In [157]:
#Train Test Spliting

In [158]:
X_train, X_test, y_train, y_test = train_test_split(normalized_dataset, encoded_y, test_size=0.30, random_state=10)

In [159]:
print(f'''
Traing Size={X_train.shape}
Testing Size={X_test.shape}
Labels_train Size={y_train.shape}
Labels_test Size={y_test.shape}
''')

Traing Size=(7000, 13)
Testing Size=(3000, 13)
Labels_train Size=(7000,)
Labels_test Size=(3000,)

In [160]:
# Model architecture

In [161]:
network = tf.keras.Sequential()
network.add(Dense(1024,activation='relu',input_shape=(13,)))
network.add(Dense(512,activation='relu'))
network.add(Dense(1,activation='sigmoid'))
network.compile(loss='binary_crossentropy',optimizer='adam', metrics=['accuracy'])

In [162]:
network.fit(X_train,y_train,epochs=20,batch_size=20,validation_split=0.3,verbose=1)

Train on 4900 samples, validate on 2100 samples
Epoch 1/20
4900/4900 [==============================] - 3s 643us/sample - loss: 0.5064 - accuracy: 0.7922 - val_loss: 0.4874 - val_accuracy: 0.8052
Epoch 2/20
4900/4900 [==============================] - 3s 553us/sample - loss: 0.5039 - accuracy: 0.7943 - val_loss: 0.4868 - val_accuracy: 0.8052
Epoch 3/20
4900/4900 [==============================] - 3s 560us/sample - loss: 0.5035 - accuracy: 0.7943 - val_loss: 0.4905 - val_accuracy: 0.8052
Epoch 4/20
4900/4900 [==============================] - 3s 548us/sample - loss: 0.5011 - accuracy: 0.7943 - val_loss: 0.4976 - val_accuracy: 0.8052
Epoch 5/20
4900/4900 [==============================] - 3s 550us/sample - loss: 0.5011 - accuracy: 0.7943 - val_loss: 0.4946 - val_accuracy: 0.8052
Epoch 6/20
4900/4900 [==============================] - 3s 558us/sample - loss: 0.5015 - accuracy: 0.7943 - val_loss: 0.4906 - val_accuracy: 0.8052
Epoch 7/20
4900/4900 [==============================] - 3s 553us/sample - loss: 0.5007 - accuracy: 0.7943 - val_loss: 0.4883 - val_accuracy: 0.8052
Epoch 8/20
4900/4900 [==============================] - 3s 566us/sample - loss: 0.5012 - accuracy: 0.7943 - val_loss: 0.4923 - val_accuracy: 0.8052
Epoch 9/20
4900/4900 [==============================] - 3s 556us/sample - loss: 0.4999 - accuracy: 0.7943 - val_loss: 0.4883 - val_accuracy: 0.8052
Epoch 10/20
4900/4900 [==============================] - 3s 581us/sample - loss: 0.5002 - accuracy: 0.7943 - val_loss: 0.4879 - val_accuracy: 0.8052
Epoch 11/20
4900/4900 [==============================] - 3s 610us/sample - loss: 0.5005 - accuracy: 0.7943 - val_loss: 0.4882 - val_accuracy: 0.8052
Epoch 12/20
4900/4900 [==============================] - 3s 557us/sample - loss: 0.4998 - accuracy: 0.7943 - val_loss: 0.4898 - val_accuracy: 0.8052
Epoch 13/20
4900/4900 [==============================] - 3s 567us/sample - loss: 0.5011 - accuracy: 0.7943 - val_loss: 0.4912 - val_accuracy: 0.8052
Epoch 14/20
4900/4900 [==============================] - 3s 556us/sample - loss: 0.5009 - accuracy: 0.7943 - val_loss: 0.4906 - val_accuracy: 0.8052
Epoch 15/20
4900/4900 [==============================] - 3s 558us/sample - loss: 0.4992 - accuracy: 0.7943 - val_loss: 0.4938 - val_accuracy: 0.8052
Epoch 16/20
4900/4900 [==============================] - 3s 556us/sample - loss: 0.4995 - accuracy: 0.7943 - val_loss: 0.4913 - val_accuracy: 0.8052
Epoch 17/20
4900/4900 [==============================] - 3s 547us/sample - loss: 0.4986 - accuracy: 0.7943 - val_loss: 0.4903 - val_accuracy: 0.8052
Epoch 18/20
4900/4900 [==============================] - 3s 547us/sample - loss: 0.4993 - accuracy: 0.7943 - val_loss: 0.4926 - val_accuracy: 0.8052
Epoch 19/20
4900/4900 [==============================] - 3s 553us/sample - loss: 0.4979 - accuracy: 0.7943 - val_loss: 0.4967 - val_accuracy: 0.8052
Epoch 20/20
4900/4900 [==============================] - 3s 550us/sample - loss: 0.5007 - accuracy: 0.7943 - val_loss: 0.4890 - val_accuracy: 0.8052

In [163]:
network.evaluate(X_test,y_test,verbose=0)

[0.5117853110631307, 0.79333335]